
<form enctype="multipart/form-data" action="{% url 'editar_producto' task.codigo %}" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="" class="form-label">Codigo</label>
        <label for="" name="codigo" class="form-label">{{task.codigo}}</label>
        <br>
        <label for="" class="form-label">Descripcion</label>
        <input type="text"
          class="form-control" name="descripcion" id="" value="{{task.descripcion}}" aria-describedby="helpId" placeholder="Descripcion">
        <label for="" class="form-label">Precio</label>
        <input type="text"
            class="form-control" name="precio" id="" value="{{task.precio}}" aria-describedby="helpId" placeholder="Precio">        
        <label for="" class="form-label">Cantidad</label>
        <input type="text"
            class="form-control" name="cantidad" id="" value="{{task.cantidad}}" aria-describedby="helpId" placeholder="Cantidad">
        <label for="" class="form-label">Categoria</label>
        <input type="text"
            class="form-control" name="categoria" id="" value="{{task.categoria}}" aria-describedby="helpId" placeholder="Categoria">
        <label for="" class="form-label">Descripcion Categoria</label>    
        <input type="text"
            class="form-control" name="descripcion_categoria" id="" value="{{task.descripcion_categoria}}" aria-describedby="helpId" placeholder="Descripcion Categoria">    

    </div>
    <button> Guardar</button>

</form>